PORT=3000

# Base de données MySQL (XAMPP)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=car_rental_db

# JWT
JWT_SECRET=votre_secret_jwt_tres_long_et_securise_ici
JWT_EXPIRES_IN=7d

# OpenWeather API
OPENWEATHER_API_KEY=votre_cle_openweather_ici
